.MemoHigh{
    justify-content: center;
    justify-items: center;
    background-color: rgb(153, 51, 110);
    border-radius: 4px;
    margin: 0.5vh;
    gap: 10px;
    &:hover {
        background-color:  rgb(105, 30, 74);
    }
}

.MemoLow{
    justify-content: center;
    justify-items: center;
    background-color: rgb(140, 84, 188);
    border-radius: 4px;
    margin: 0.5vh;
    gap: 10px;
    &:hover {
        background-color:  rgb(24, 13, 50);
    }
}

.MemoMed{
    justify-content: center;
    justify-items: center;
    background-color: rgb(76, 93, 206);
    border-radius: 4px;
    margin: 0.5vh;
    gap: 10px;
    &:hover {
        background-color:  rgb(105, 30, 74);
    }
}


.MemoTitle{
    margin-left: 1vh;
}